body{
    font-family: 'Playfair Display', serif;
}

ul {
    list-style: none;
  }

.nav-bar{
    display: inline-block;
    margin: 0 auto;
    padding: 15px;
}

.title{
    background-color: aquamarine;
    border-bottom: 3px solid black
}